.bg1 {
    background-image: url(./foto/Ellipse\ 13.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg2 {
    background-image: url(./foto/illustration\ skupka\ 1.png);
    width: 100%;
    height: 174px;
     background-size: cover;
    background-repeat: no-repeat;

}
.bg3 {
    background-image: url(./foto/illustraion\ skupka\ 3.png);
    width: 100%;
    height: 174px;
     background-size: cover;
    background-repeat: no-repeat;

}
.bg4 {
    background-image: url(./foto/illustration\ skupka\ 4.png);
    width: 100%;
    height: 174px;
     background-size: cover;
    background-repeat: no-repeat;

}
.bg5 {
    background-image: url(./foto/illustration\ skupka\ 5.png);
    width: 100%;
    height: 150px;
     background-size: cover;
    background-repeat: no-repeat;

}
.bg6 {
    background-image: url(./foto/illustration\ skupka\ 6.png);
    width: 100%;
    height: 150px;
     background-size: cover;
    background-repeat: no-repeat;

}